<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <title>Home Page</title>
    <style>
        #design{
            table-layout: auto;
            background: white;
            text-align: center;
        }
        .links{
            text-align: center;
        }
        
    </style>

</head>
<body class="container">
    <br>
    <h2><i><b>Average Sale of each Petroleum product for 2 years of interval</b></i></h2>
    <br>
            {% autoescape off %}
                {{ result }}
            {% endautoescape %}

    <br>
    <div class="links">
    <div>
    <a href="/overall-sale/">Overall Sale Of Each Petroleum Product by Country</a>
    </div>
    <div>
    <a href="/avg-sale/">Average Sale Of Each Petroleum Product for 2 years of Interval</a>
    </div>
    <div>
    <a href="/min-sale/">Year each Petroleum Product Had the Least Sale.</a>
    </div>
    <button class='btn btn-danger'><a href="/" style="color:white;">Go Back</a></button>
    </div>

</body>
</html>