<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

    <title>Home Page</title>

    <style>
        .tableFixHead          { overflow: auto; height: 450px; }
        .tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

        table  { border-collapse: collapse; width: 100%; }
        th, td { padding: 8px 16px; }
        th     { background:#eee; }

        body {
            background-image: -o-radial-gradient(black,white)
        }
        h3{
            color:black;
            text-align: center;
        }
        .links{
        text-align: center;
    }
</style>
        
</head>
<body class ="container">
    <br>
    <h3><i>Database Data after fetching from api endpoint</i></h3>
    <br>
    <div class="tableFixHead bg-dark">
    <table class="table table-striped table-light table-bordered">
        <thead class="table-dark">
            <th scope="col">Year</th>
            <th scope="col">Petroleum Product</th>
            <th scope="col">Sale</th>
            <th scope="col">Country</th>
        </thead>
        <tbody style="height: 10px !important; overflow: scroll; ">
            {% for i in overall_sale_by_country %}
            <tr>
                <th scope="col">{{i.year}}</th>
                <td>{{i.product}}</td>
                <td>{{i.sale}}</td>
                <td>{{i.country}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="links">
<div>
<a href="/overall-sale/">Overall Sale Of Each Petroleum Product by Country</a>
</div>
<div>
<a href="/avg-sale/">Average Sale Of Each Petroleum Product for 2 years of Interval</a>
</div>
<div>
<a href="/min-sale/">Year each Petroleum Product Had the Least Sale.</a>
</div>
</div>
</body>
</html>