<div class="links">
    <div class="d-flex flex-row">
        <div class="p-2">
            <button class='btn btn-success'>
        <a href="/overall-sale/" style="color:white;">Overall Sale by country </a>
            </button>
        </div>
        <br>
        <div class="p-2">
            <button class='btn btn-primary'>
        <a href="/avg-sale/" style="color:white;">Average Sale for 2 years of Interval</a>
            </button>
        </div>

        <br>
        <div class="p-2">
            <button class='btn btn-dark'>
        <a href="/min-sale/" style="color:white;">Least sale year</a>
            </button>
        </div>
    </div>
    <br>
    <button class='btn btn-danger'><a href="/" style="color:white;">Go back to Database</a></button>
</div>


